<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head>
<title>App Web da lista 1 - turma B</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
rel="stylesheet">
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
rel="stylesheet">

</head>
<body>
   <a th:href="@{/lista-clentes}"></a><span>Listagem de clentes:</span></a><br />
   <h1>Formulario de cadastro de um cliente!!</h1><br/>
   
   <from th:action="@{/cadastrar}" method="post">
   
   <input name="nome"placeholder="nome do cliente" /><br/>
   <input name="numero"placeholder="telefone" /><br/>
   <input type="submit" />
   </from>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>